:root {
  --primary-pink: 249, 193, 207;
  --primary-purple: 213, 149, 238;

  --text-color: 64, 64, 72;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}
