.all {
  width: 670px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1rem 0.5rem;
  @media screen and (min-width: 671px) {
    width: 100%;
  }
}
